@import "../../../bourbon/_bourbon";
@import "../_functions";

.profile-friends {
  .search-bar {
    margin: 0 auto;
    width: 465px;

    input{
      width: 180px;

      margin-right: 15px;

    }
    .btn-small{
      position: relative;
      top:2px;
    }


  }
  .friends-list {
    width: 100%;
    float: left;
    margin:50px 0 70px;




    li {
      width: percentage(356px/$layout-width);
      margin: percentage(20px/$layout-width);
      float: right;
      border: 1px solid $grey;
      display: table;
    }

    .thumb {
      width: 41%;

      height: 157px;
      display: table-cell;

      vertical-align: top;



    }
    .name {
      display: table-cell;
      width: 52%;
      padding-right: 15px;

      vertical-align: middle;
      h4 {
        font-size: 21px;
        margin: 0;

      }
      span {
        color: $purple;
        font-size: 15px;

      }

    }

  }
}
