@import "../../../bourbon/_bourbon";
@import "../_functions";

.profile-info {
  width: 550px;
  margin: 0 auto 150px;

  li {
    margin-bottom: 10px;
  }
  h1, h2 {
    color: $purple;
    font: 38px $seogeui-semibold;
    margin: -38px 0 55px;
  }

  h2 {
    text-align: center;
    margin: 30px 0 70px;

  }

  input:not([type="radio"]), textarea {

    width: 100%;
    border: 1px solid $grey;
    resize: none;
    outline: none;
    color: $purple;
    margin-top: 5px;
    padding: 7.5px 10px;
    @extend .box-sizing;
    @include placeholder {
      color: #ffffff;

    }
  }

  textarea {
    height: 85px;
  }

  .query {
    height: 140px;

  }
  label {
    color: $purple;
    font-size: 18px;
  }

  .radio {
    font-size: 18px;
    color: $purple;
    margin: 20px 0;

    input[type="radio"] {
      display: none;
    }
    label {
      background: #fff;
      border: 1px solid $grey;
      @include widthHeight(15px, 15px);
      display: block;
      clear: both;
      margin-top: 10px;

      position: relative;

      span {
        display: block;
        margin: -6px 22px 0 0;

      }
    }


    input[type="radio"]:checked + label:after {
      @include content(7px, 7px, 3px, "", "", 3px);
      background: $purple;
    }
  }

}

.map {
  width: 653px;
  margin: -40px auto 150px;





  p {
    color: $purple;
    font-size: 30px;
    text-align: center;

  }
  iframe {

    @include widthHeight(100% !important, 350px !important);

  }
}



