@import "../bourbon/bourbon";
@import "imports/_functions";
@import "imports/_fontface";
@import "imports/_reset";

//
//$percentage: (0, 20, 40, 60, 80, 100);

//@each $value in $percentage {
//
//}
body {
  font: 14px $seogeui-regular;
  overflow-x: hidden;

  color: #b1b2b2;
}

body.pushy-active {
  overflow-x: hidden !important;
}


.center {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

.wrapper {
  height: 100%;

}

.mobile {
  display: none;
}

.transition {
  @include transition(all 0.2s cubic-bezier(.17, .48, .89, .6));

}

.box-sizing {
  @include box-sizing(border-box);

}

section, header, footer {
  float: left;
  width: 100%
}

.sprite {
  background: url(../images/sprite.png) 0 0 no-repeat;
}

span.sprite, a.sprite {
  display: inline-block;
}

.btn {
  background: #4b4e4f;
  background: $purple;
  font-size: 24px;
  padding: 14px 39px;
  color: #fff;
  @extend .transition;
}

.btn-small {
  font-size: 20px;
  padding: 8px 39px;

}

.btn-grey {
  background: #4b4e4f;
}

.btn-round {
  border-radius: 100%;
  color: #fff;
  font: 16px $seogeui-semibold;
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.search-bar {
  position: relative;

  margin: 40px 0 0 25px;

  input {
    background: #f7f5f5;
    font-size: 18px;
    color: $grey;
    border: none;
    outline: none;
    padding: 9.5px 50px 9.5px 10px;
    width: 310px;
  }

  span {
    @include widthHeight(30px, 30px);
    background-position: -292px 0;
    @include absolute(6px, 11px, "", "");

  }
}

.error {
  color: red !important;

  input {
    border-color: red !important;
  }
  label {
    color: red !important;
  }

}

.thumb {

  position: relative;
  img {

    @include verticalCenter();
  }
}
.grid-cont .grid{
  display: none;/*wait until images finishes loading then display it*/
}

.btn-blue{
  background-color: #85c6dc;

}


@import "imports/_footer";
@import "imports/_wall";
@import "imports/_friends";
@import "imports/_header";
@import "imports/_banner";
@import "imports/_btn";
@import "imports/_grids";
@import "imports/_marketPlace";
@import "imports/_about";
@import "imports/_wardrobe";
@import "imports/_info";
@import "imports/_overlay";
@import "imports/_hover";

@import "imports/_responsive";