@import "../bourbon/bourbon";
@import "imports/_functions";

//
//$percentage: (0, 20, 40, 60, 80, 100);

//@each $value in $percentage {
//
//}
body {
  font: 14px $seogeui-regular;

  color: #b1b2b2;
}

body.pushy-active {
  overflow-x: hidden !important;
}

.center {
  margin: 0 auto;
  width: 1240px;
}

.wrapper {
  height: 100%;

}

.mobile {
  display: none;
}

//h1 {
//  font: normal 46px arial;
//
//}
//
//h3 {
//  font: normal 36px arial;
//
//}
//
//
//h4 {
//  font: normal 24px arial;
//
//}
//
//
//h5 {
//  float: left;
//
//}

p {

  //  font: normal 20px arial;
  //  color: #000000;
}

.transition {
  @include transition(all 0.2s cubic-bezier(.17, .48, .89, .6));

}

section, header,footer {
  float: left;
  width: 100%
}

.btn{}

@import "imports/_fontface";
@import "imports/_reset";
@import "imports/_footer";
@import "imports/_header";
@import "imports/_btn";
@import "imports/_grids";
@import "imports/_responsive";