@import "../../bourbon/bourbon";
@import "functions";

.banner {
  padding-bottom: 25px;
  position: relative;
  //  height: 755px;
  //  background: url("../images/home_bg.jpg") 0 0 /100% no-repeat;
  .banner-img {
    width: 100%;
  }
  .right-col {
    height: 100%;
    @include absolute(0, 0, "", "")
  }

  .logo {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
  .player {
    margin: 100px auto 60px;
    width: 542px;
    height: 0;
    padding-top: 36.5%;

    position: relative;

    img, iframe {

      @include absolute(0, "", "", 0);

      width: 100%;
      height: 100%;

    }
  }

  .login-btn {
    width: 100%;
    text-align: center;
  }
  .registration {
    text-align: center;

    img {
      margin: 90px 0;

    }
    input[type="text"], input[type="email"] {
      width: 330px;
      font-size: 18px;
      height: 52px;

      border: 2px solid #b7b7b7;
      padding: 5px 10px;
      margin-right: 10px;
      float: left;
    }
    .btn {
      border: none;
      outline: none;
      padding: 10px 15px;
      float: left;
    }

    .register {
      position: relative;
      width: 458px;
      margin: 0 auto;
    }
    span.error {
      position: absolute;
      left: 0;
      bottom: -20px;
    }

    p {
      @include absolute("", "",-100px, 0);
      font-size: 25px;
      color: #303030;
      width: 100%;
      a {
        color: #0053fb;
        text-decoration: underline;
      }
    }
  }
  .wardrobe {
    text-align: center;
    img {
      margin-top: 40px;
    }
  }
  .wall {
    text-align: center;
    img {
      margin-top: 80px;
    }
  }
  .outfits {
    text-align: right;
    img {
      margin-top: 80px;
    }
  }

  .trends {
    text-align: center;
    img {
      margin-top: 80px;
    }
  }
  .bx-pager {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    .bx-pager-item {

      display: inline-block;

      width: 15px;
      height: 15px;
      margin:0  5px;
      a{
        display: block;
        text-indent: -9999px;
        border-radius: 100px;

        background: $purple;

        width: 100%;
        height: 100%;
        &.active{
          background: $grey;
        }
      }
    }
  }

}

.login-btn {

  a {
    margin: 0 5px;
    span {
      display: inline-block;
      background-position: -14px 0;
      @include widthHeight(12px, 21px);
      margin: 0 5px;

    }

    &:last-child span {
      background-position: 0 0;
      @include widthHeight(11px, 22px);
    }

  }

}

