@import "../../bourbon/bourbon";
@import "_functions";

footer {
  background: $light-grey;
  margin-top: 45px;
  p {

    font-size: 15px;
    margin: 48px 15px 0 0;





  }




}

.social-icons {
  margin: 40px 0 0 0px;

  a {
    display: inline-block;
    @include widthHeight(37px, 38px);
    margin-right: 10px;
    &.tw {
      background-position: -31px 0;
    }
    &.fb {
      background-position: -68px 0;
    }
    &.gp {
      background-position: -107px 0;
    }
  }
}