@import "../../bourbon/bourbon";
@import "_functions";

header {

  height: 128px;

  nav {

    ul {
      float: right;
      margin-top: 65px;

      li {
        font-size: 18px;
        float: left;
        position: relative;
        padding: 0 20px;
        &:after {
          @include content(1px, 15px, 6px, 0, "", "");
          background: $grey;
        }

        &:last-child {
          padding-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }

  }

}

.banner {
  height: 746px;
  background: #000;

  .left-col {
    float: right;
  }

  .logo, .player, .btn-group {
  }
  .logo {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
  .player {
    margin: 100px 0 60px;
    img, iframe {
      display: block;
      margin: 0 auto;

    }
  }
  .btn-group {
    width: 100%;
    text-align: center;

    a {
      margin: 0 5px;
      span {
        display: inline-block;
        background-position: -14px 0;
        @include widthHeight(12px, 21px);
        margin: 0 5px;

      }

      &:last-child span{
        background-position: 0 0;
        @include widthHeight(11px, 22px);
      }



    }
  }

}