@import "../../bourbon/bourbon";
@import "functions";

.intro {
  text-align: center;

  h1 {
    font: 48px $seogeui-semibold;
    color: $purple;
    small {
      display: block;
      font-family: $seogeui-regular;
    }
  }
  p {
    font-size: 30px;
    color: #696969;
    margin-bottom: 50px;

  }

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #696969;
    width: 85px;

  }

  .btn-round {
    @include widthHeight(74px, 74px);
    background: $purple;
    font-size: 24px;
    line-height: 71px;
  }

}

.product-list {

  width: 100%;
  float: left;
  margin: 0 0 70px;

  li {
    width: percentage(340px/$layout-width);
    margin: percentage(20px/$layout-width);
    float: left;
    padding: 7px 7px 15px 7px;
    @extend .box-sizing;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }

  .thumb {
    width: 100%;

    height: 202px;
    position: relative;
    margin-bottom: 25px;


    &:after{
      @include content(100%,100%,0,"","",0);
      background: url(../images/shadow.png) 0 0 no-repeat;
      background-size: 100% 100%;






    }


    img {
      @include verticalCenter();

    }

  }
  .detail {
    sub {

      font-size: 20px;
      bottom: 0;



    }
    .tags {
      margin: 7px 0 7px -2px;
      color: $purple;
      font-size: 16px;
      a {
        text-decoration: underline;
        margin: 0 2px;

      }
    }

    .name{
      font-size: 18px;
      h4{
       margin: 0;
      }

      small{
        font-size: 70%;
        margin-right: 5px;

      }
    }

  }

}
