@import "../../bourbon/bourbon";
@import "functions";

.intro {
  text-align: center;

  h1 {
    font: 48px $seogeui-semibold;
    color: $purple;
    small {
      display: block;
      font-family: $seogeui-regular;
    }
  }
  p {
    font-size: 30px;
    color: #696969;
    margin-bottom: 50px;


  }


  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #696969;
    width: 85px;

  }

  .btn-round {
    @include widthHeight(74px, 74px);
    background: $purple;
    font-size: 24px;
    line-height: 71px;
  }

}

.product-list {
  .search-bar {
    margin: 0 auto;
    width: 465px;

    input {
      width: 180px;

      margin-left: 15px;

    }
    .btn-small {
      position: relative;
      top: 2px;
    }

  }
  .friends-list {
    width: 100%;
    float: left;
    margin: 50px 0 70px;

    li {
      width: percentage(356px/$layout-width);
      margin: percentage(20px/$layout-width);
      float: left;
      border: 1px solid $grey;
      display: table;
    }

    .thumb {
      width: 41%;

      height: 157px;
      position: relative;
      display: table-cell;

      vertical-align: top;

      img {
        @include verticalCenter();

      }

    }
    .name {
      display: table-cell;
      width: 52%;
      padding-left: 15px;

      vertical-align: middle;
      h4 {
        font-size: 21px;
        margin: 0;

      }
      span {
        color: $purple;
        font-size: 15px;

      }

    }

  }
}
