@import "../../bourbon/bourbon";
@import "_functions";

@media only screen and (max-width: 1100px) {

  .center {
    width: 96%;
    padding: 0 2%;
  }

}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;

  }
  h4 {
    font-size: 18px;

  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;

  }

  header {

    height: 45px;

    .bt-menu-trigger {
      display: block;

    }
    .logo {

    }

    nav {
      width: 100%;
      left: 0;
      display: none;
      z-index: 10;
      background: #fff;
      margin-top: 0;
      //      padding-bottom: 20px;
      position: absolute;
      top: 45px;

      ul {
        overflow: auto;
        margin: 0;
        -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
        padding: 0;
        width: 100%;

      }
      li {
        padding: 0 !important;
        border-bottom: 2px solid #F0EAEA;

        width: 100%;

        &:last-child {
          border: none;
        }
        a {
          margin: 0;
          float: left;
          font-size: 18px;
          padding: 15px 18px;
          text-align: left;
          color: #000;

          &.active {
            background: #fff;
            color: #000000;

          }
        }

      }

      ul ul {
        position: static;
        width: 100%;
        height: 100%;
        li {
          height: auto;
          a {
            width: 90%;
            height: auto;
            float: left;

          }
        }

      }
    }
  }
  .banner {
    height: 380px;
    .logo {
      margin-top: 0;
    }

    .btn-group {
      margin-top: 277px;


      .btn {
        padding: 14px 20px;

      }
    }
  }

  .grid-section {
    h2{
      &:after,&:before{
        display: none;
      }
      margin: 20px 0;

    }

    .grid-cont{
      margin: 0 auto;
      width: 250px;
    }
  }


  footer{

    p{
    font-size: 14px;
    margin: 16px 10px 0 0;
    }
    .social-icons{
      margin: 10px 0 10px;
    }
  }
}

