@import "../../bourbon/bourbon";
@import "_functions";

@media only screen and (max-width: 1100px) {

  .center {
    width: 96%;
    padding: 0 2%;
  }

  header {
    .logo-inner {
      width: 28%;
      height: 100%;
      img {
        margin-top: 13px;
      }
    }
    .search-bar input {
      width: 200px;
    }
    .logged-in-menu li {
      margin-left: 15px;

    }
  }

}

@media only screen and (max-width: 900px) {
  header {
    .logo-inner {
      width: 35%;

    }
    .search-bar {
      margin-top: 10px;
      input {
        width: 300px;
      }
    }
    .logged-in-menu {

      float: left;
      margin: 8px 0 0 10px;

    }
  }

  .profile-menu li {
    margin: 50px 5px;

    a {
      @include widthHeight(120px, 120px);

      span {
        bottom: 18px;

      }
      &:after {
        top: 20px !important;
      }

    }

  }

  .profile-detail {

    .left-col {
      width: 55%;
      margin-left: 0;

    }
    .right-col {
      width: 40%;
      margin-right: 0;

    }
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;

  }
  h4 {
    font-size: 18px;

  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;

  }

  header {

    height: 45px;

    .bt-menu-trigger {
      display: block;

    }
    .logo {

    }

    nav {
      width: 100%;
      left: 0;
      display: none;
      z-index: 10;
      background: #fff;
      margin-top: 0;
      //      padding-bottom: 20px;
      position: absolute;
      top: 45px;

      ul {
        overflow: auto;
        margin: 0;
        -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
        padding: 0;
        width: 100%;

      }
      li {
        padding: 0 !important;
        border-bottom: 2px solid #F0EAEA;

        width: 100%;

        &:last-child {
          border: none;
        }
        a {
          margin: 0;
          float: left;
          font-size: 18px;
          padding: 15px 18px;
          text-align: left;
          color: #000;

          &.active {
            background: #fff;
            color: #000000;

          }
        }

      }

      ul ul {
        position: static;
        width: 100%;
        height: 100%;
        li {
          height: auto;
          a {
            width: 90%;
            height: auto;
            float: left;

          }
        }

      }
    }
  }
  .banner {
    height: 380px;
    .logo {
      margin-top: 0;
    }

    .btn-group {
      margin-top: 277px;

      .btn {
        padding: 14px 20px;

      }
    }
  }

  .grid-section {
    h2 {
      &:after, &:before {
        display: none;
      }
      margin: 20px 0;

    }

    .grid-cont {
      margin: 0 auto;
      width: 250px;
    }
  }

  footer {

    p {
      font-size: 14px;
      margin: 16px 10px 0 0;
    }
    .social-icons {
      margin: 10px 0 10px;
    }
    img {
      display: none;
    }
  }

  header.inner {

    height: 180px;
    .center {
      width: 100%;
      padding: 0;
    }

    .logo-inner {
      width: 100%;
      height: auto;
      a {
        display: block;
      }
      img {
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }

    .search-bar {
      margin: 10px 0;
      width: 100%;

      input {
        width: 100%;
        @include box-sizing(border-box)

      }
    }

    .logged-in-menu {
      margin: 0;
      li {
        font-size: 14px;
        margin-left: 10px;

        a:first-of-type:after {

          top: 3px;
          height: 13px;
        }

      }
    }

  }

  .cover {
    height: 135px;
    margin:0 0 40px;


    .thumb {
      @include widthHeight(100px, 100px);
      bottom: -20px;

    }
    .name {
      width: 200px;
      padding: 0;
      font-size: 15px;
      left: 110px;

    }
    .about {
      text-indent: 0;
      font-size: 70%;
      text-decoration: underline;
      @include widthHeight(auto, auto);
      background: none;

    }
  }

  .profile-menu {
    width: 100%;
    padding: 0;

    li {


      float: left;
      width: 100%;
      margin: 0;
      a {
        border-radius: 0;
        width: 100%;
        height: auto;
        padding: 5px 0;



        text-align: center;


        span {
          position: static;

        }
        &:after {
          display: none;

        }
      }
    }
  }
  .profile-detail {

    .left-col,.right-col{
      width: 100%;
      margin-top: 20px;
    }
    .post-detail{
      margin-top: 20px;
      padding-bottom: 55px;


      h4{
        margin-bottom: 20px;
      }

    }
  }


}

