@import "../../bourbon/bourbon";
@import "_functions";

@media only screen and (max-width: 1100px) {

  .center {
    width: 100%;
    padding: 0 2%;
    margin: 0;
  }

  header {
    .logo-inner {
      width: 28%;
      height: 100%;
      img {
        margin-top: 13px;
      }
    }
    .search-bar input {
      width: 200px;
    }
    .logged-in-menu li {
      margin-left: 15px;

    }
  }
  .about-cont {
    width: 100%;
    margin-bottom: 30px;
  }

  .profile-friends .friends-list .thumb {

    height: 117px;
  }

  .profile-info {
    // margin: 0 0 150px 270px;
    h1, h2 {
      margin: 30px 0;

    }
  }
  .wardrobe-items {
    .items-slider {
      width: 100%;

      margin-left: 0;
    }
  }

}

@media only screen and (max-width: 900px) {
  header {
    .logo-inner {
      width: 35%;

    }
    .search-bar {
      margin-top: 10px;
      input {
        width: 300px;
      }
    }
    .logged-in-menu {

      float: left;
      margin: 8px 0 0 10px;

    }
  }

  .profile-menu li {
    margin: 50px 5px;

    a {
      @include widthHeight(120px, 120px);

      span {
        bottom: 18px;

      }
      &:after {
        top: 20px !important;
      }

    }

  }

  .profile-detail {

    .left-col {
      width: 55%;
      margin-left: 0;

    }
    .right-col {
      width: 40%;
      margin-right: 0;

    }
  }
  .about-cont {
    padding: 10px;
    .thumb {
      @include widthHeight(170px, 170px);
      margin-right: 10px;
    }

    .social-icons {
      margin-top: 20px;

    }

  }
  .map {
    margin-bottom: 20px;
  }
  .profile-friends .friends-list {
    .thumb {

      height: 140px;
    }
    li {
      width: 46%;

    }
  }
  .overlay .content {
    width: 95%;

  }
  .product-list {
    .thumb {

      height: 112px;
    }
    .detail {
      sub {
        font-size: 14px;
      }
      .tags {
        font-size: 12px;
      }
      .name {
        font-size: 12px;
        h4 {
          font-size: 14px;
        }
        small {
          margin-top: 3px;

        }
      }
    }
  }
  .intro {
    p {
      margin-bottom: 20px;
      font-size: 20px;
    }
    h1 {
      font-size: 30px;

    }

  }

  .profile-info {
    margin: 0 auto 150px;
    h1 {
      margin-top: 20px;

    }
  }

  .wardrobe-items {
    .items-slider {
      width: 90%;
      //      margin: 0 auto;
      margin: 50px auto 30px;

    }
  }

  .listing {
    > li {
      margin: 3.6%;

      width: 26%;
    }
  }

}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;

  }
  h4 {
    font-size: 18px;

  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;

  }

  header {

    height: 45px;

    .bt-menu-trigger {
      display: block;

    }
    .logo {

    }

    nav {
      width: 100%;
      left: 0;
      display: none;
      z-index: 10;
      background: #fff;
      margin-top: 0;
      //      padding-bottom: 20px;
      position: absolute;
      top: 45px;

      ul {
        overflow: auto;
        margin: 0;
        -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
        padding: 0;
        width: 100%;

      }
      li {
        padding: 0 !important;
        border-bottom: 2px solid #F0EAEA;

        width: 100%;

        &:last-child {
          border: none;
        }
        a {
          margin: 0;
          float: left;
          font-size: 18px;
          padding: 15px 18px;
          text-align: left;
          color: #000;

          &.active {
            background: #fff;
            color: #000000;

          }
        }

      }

      ul ul {
        position: static;
        width: 100%;
        height: 100%;
        li {
          height: auto;
          a {
            width: 90%;
            height: auto;
            float: left;

          }
        }

      }
    }
  }
  .banner {
    height: 380px;
    .logo {
      margin-top: 0;
    }

    .btn-group {
      margin-top: 277px;

      .btn {
        padding: 14px 20px;

      }
    }
  }

  .grid-section {
    h2 {
      &:after, &:before {
        display: none;
      }
      margin: 20px 0;

    }

    .grid-cont {
      margin: 0 auto;
      width: 250px;
    }
  }

  footer {

    p {
      font-size: 14px;
      margin: 16px 10px 0 0;
    }
    .social-icons {
      margin: 10px 0 10px;
    }
    img {
      display: none;
    }
  }

  header.inner {

    height: 180px;
    .center {
      width: 100%;
      padding: 0;
    }

    .logo-inner {
      width: 100%;
      height: auto;
      a {
        display: block;
      }
      img {
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }

    .search-bar {
      margin: 10px 0;
      width: 100%;

      input {
        width: 100%;
        @include box-sizing(border-box)

      }
    }

    .logged-in-menu {
      margin: 0;
      li {
        font-size: 14px;
        margin-left: 10px;

        &:first-child {
          margin-left: 2px;

        }

        a:first-of-type:after {

          top: 3px;
          height: 13px;
        }

      }
    }

  }

  .cover {
    height: 135px;
    margin: 0 0 40px;

    .thumb {
      @include widthHeight(100px, 100px);
      bottom: -20px;

      .upload {
        margin-top: 90px;
        background: url("../images/upload-mob.png") no-repeat center;
        height: 30px;

      }

    }
    .name {
      width: 200px;
      padding: 0;
      font-size: 15px;
      left: 110px;

    }
    .about {
      text-indent: 0;
      font-size: 70%;
      text-decoration: underline;
      @include widthHeight(auto, auto);
      background: none;
      top: 0;

    }
  }

  .profile-menu {
    width: 100%;
    padding: 0;

    li {

      float: left;
      width: 100%;
      margin: 0;
      a {
        border-radius: 0;
        width: 100%;
        height: auto;
        padding: 5px 0;

        text-align: center;

        span {
          position: static;

        }
        &:after {
          display: none;

        }
      }
    }
  }
  .profile-detail {

    .left-col, .right-col {
      width: 100%;
      margin-top: 20px;
    }
    .post-detail {
      margin-top: 20px;
      padding-bottom: 55px;

      h4 {
        margin-bottom: 20px;
      }

    }
  }

  .about-cont {
    ///  width: 100%;
    margin: 20px 0 0;
    //  padding: 10px;
    .thumb {
      width: 100%;
      height: 220px;
    }
    .detail {
      width: 100%;

    }
    h3 {
      margin-bottom: 10px;
    }

    .pull-right {
      width: 100%;

    }
  }

  .profile-info {
    width: 100%;
    margin-bottom: 64px;

    h1, h2 {
      margin-bottom: 30px;
      font-size: 30px;
      text-align: center;
    }

  }
  .map {
    width: 100%;
    margin-bottom: 0;
    p {
      font-size: 16px;
    }
    iframe {
      height: 270px !important;

    }
  }
  .profile-friends {
    span {
      top: 33px;
    }
    .search-bar {
      width: 100%;
      text-align: center;
      height: 100px;
      input {
        width: 100%;
        margin-left: 0;
        @include box-sizing(border-box);
      }
      .btn-small {
        top: 92px;
      }
    }

    .friends-list {
      margin-bottom: 0;
      .thumb {
        height: 140px;
      }
      li {
        width: 100%;
        margin: 10px 0;
      }
    }
  }

  .overlay {
    position: absolute;
    @include transform(none !important);

    h3 {
      margin-bottom: 10px;
      padding-bottom: 10px;
      font-size: 20px;
    }
    .content {
      padding: 10px;
      @include transform(none);
      border-radius: 5px;
      left: 5%;
      top: 30px;
      width: 90%;
    }
    ul, .btn-group {
      width: 100%;
    }
    .fade {
      position: fixed;
    }

  }
  .product-list {
    margin-bottom: 0;
    li {
      width: 80%;
      margin-left: 10%;
      margin-right: 0;
    }
    .thumb {
      height: 142px;
    }

  }
  .intro {
    p {
      margin-bottom: 20px;
      font-size: 14px;
      input {
        width: 55px;

      }

    }
    h1 {
      font-size: 25px;

    }

    .btn-round {
      width: auto;
      height: auto;
      line-height: 0;
      text-decoration: underline;

      display: inline;
      border-radius: 0;
      font-size: 14px;
      color: $purple;
      background: #fff;

    }

  }

  .listing {
    > li {
      margin: 1.5%;
      width: 47%;
    }
    .thumb{
      height: 83px;
    }
  }

}

