@import "../../bourbon/bourbon";
@import "functions";

.listing {
  > li {
    width: percentage(197px/$layout-width);
    margin: percentage(22.5px/$layout-width);
    float: left;
    padding: 5px 5px 15px;
    @extend .box-sizing;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .thumb {
      @include widthHeight(100%, 112px);
    }
    .like-cmnt-cont li {
      margin-top: 12px;
    }
  }
}

.listing-inner > li {

  width: 29.6%;
}

.wardrobe-items {
  text-align: center;
  margin: 60px 0;

  .items-slider {
    background: #f6f7f9;
    border: 1px solid #b5b5b5;
    width: 1160px;
    text-align: center;
    margin: 50px 0 30px 26px;

  }
  .btn {
    margin: 100px 0;
  }

  li a {
    background: url(../images/illustrator.jpg) no-repeat;
    width: 100px;
    height: 180px;
    display: block;
    float: left;
  }

  .tops a {
    background-position: 0 0;

  }
  .pants a {
    background-position: -100px 0;
  }
  .dresses a {
    background-position: -200px 0;
  }
  .skirts a {
    background-position: -300px 0;
  }
  .shorts a {
    background-position: -400px 0;
  }
  .jeans a {
    background-position: -500px 0;
  }
  .jacket a {
    background-position: -600px 0;
  }
  .sweater a {
    background-position: -700px 0;
  }
  .swinsuit a {
    background-position: -800px 0;
  }
  .outFit a {
    background-position: -900px 0;
  }
  .bags a {
    background-position: -1000px 0;
  }
  .shoes a {
    background-position: -1100px 0;
  }
  .accessories a {
    background-position: -1200px 0;
  }
  .beauty a {
    background-position: -1300px 0;
  }
  .bx-wrapper {
    position: relative;

  }

  .bx-next, .bx-prev {
    @include widthHeight(40px, 40px);
    background: $purple;
    color: #fff;
    display: block;
    font: 20px/36px $seogeui-semibold;
    text-align: center;
    margin-top: -20px;
    @include absolute(50%, -40px, "", "");
    @extend .transition;
  }
  .bx-prev {
    left: -40px;

  }

}

.create-outfits {
  //  margin-top: 20px;
  position: relative;
  bottom: -20px;
  .btn {
    margin: 0 20px;
  }
}

.crop-cont {

  .left-col {
    width: 49%;
  }
  .right-col {
    width: 49%;

    .crop {
      width: 100%;
      float: left;
      margin: 55px 0;
      height: 350px;
      background:  url(../images/crop-bg.jpg) 0 0 ;
    }
    .btn-group {
      width: 100%;
      float: left;
      .btn{
        margin-left: 15px;
      }
    }
  }

}