@import "../../../bourbon/_bourbon";
@import "../_functions";

.grid-section {

  h2 {
    width: 100%;
    text-align: center;
    position: relative;
    color: #000;
    font-size: 30px;
    margin: 70px 0;

    &:after {
      @include content(100px, 1px, 21px, 30%, "", "");
      background: $grey;
    }
    &:before {
      @include content(100px, 1px, 21px, "", "", 30%);
      background: $grey;
    }
  }

  .grid-cont {
    width: 105%;

  }

  .grid {
    width: 240px;
    border-radius: 5px;
    @extend .box-sizing;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 7px 7px 25px;
    margin: 0 5px 10px;
    img {
      width: 100%;
      position: static;
      @include transform(none)
    }

  }

  .btn-group {
    text-align: center;
    margin: 40px 0 15px;

  }
  .view-trends {
    display: none; /*wait until images finishes loading then display it*/

    &.active {
      position: relative;
      &:after {
        @include content(100%, 100%, 0, 0, "", "");

        background: $purple url(../images/loader.GIF) center no-repeat;
      }

    }
  }
  .trends-cta{
    margin-top: -110px;
  }
}

.like-cmnt-cont {

  li {
    float: left;
    position: relative;
    padding-left: 15px;

    margin: 22px 10px 0 0;
    cursor: pointer;
    &:after {
      @include content(14px, 13px, 4px, "", "", 0);
      background: url(../images/sprite.png) -145px -15px;
    }
    &.comment {
      &:after {
        background-position: -145px -15px;
      }
    }

    &.like {

      &:after {
        background-position: -145px 0px;
      }
    }
  }
}
